NET "clk_i" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "clk_i" PERIOD = 20.0ns HIGH 50%;
NET "rst_i" LOC = "T14"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "rx_i" LOC = "E16"  | IOSTANDARD = LVCMOS33 ;
NET "tx_o" LOC = "F15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

