NET "IN_clk_50" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "IN_clk_50" PERIOD = 20.0ns HIGH 50%;
NET "IN_rst" LOC = "T14"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;

NET "IN_RotPush"    LOC = "R13"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "IN_RotA"       LOC = "R14"  | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "IN_RotB"       LOC = "T13"  | IOSTANDARD = LVCMOS33 | PULLUP ;

NET "OUT_LED_ch0"        LOC = "R20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch1"        LOC = "T19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch2"        LOC = "U20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch3"        LOC = "U19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch4"        LOC = "V19"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch5"        LOC = "V20"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch6"        LOC = "Y22"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "OUT_LED_ch7"        LOC = "W21"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
